.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 3px #ccc;
  text-align: left;
  position: relative;
}

.postContent {
  padding: 10px;
}

.postImage {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.postRemoveButton {
  background-color: lightgray;
  border: none;
  border-radius: 15px;
  color:  #333;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postRemoveButton:hover {
  background-color: #ccc;
}
